body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	background-color: #3a0851;
}
.secondary-nav {
	width: 300px;
}
p {
	line-height: 2.25em;
}
td {
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
.general-width {
	width: 1000px;
}
.secondary-nav li {
	list-style-type: none;
}
.class-links {
	width: 25%;
}
.reference-links {
	width: 50%;
}
table {
	background-color: #FFF;
	border-collapse:collapse;
}
.image-rap {
	float: left;
	margin-right: 25px;
	margin-top: 11px;
	margin-bottom: 10px;
	padding: 7px;
	background-color: #999;
	border-top-width: 18px;
	border-right-width: 18px;
	border-bottom-width: 18px;
	border-left-width: 18px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-color: #0000CB;
	border-right-color: #009;
	border-bottom-color: #000053;
	border-left-color: #009;
}
